<div class="card my-5">
    <div class="card-body">
        <form (ngSubmit)="onSubmit()" #userForm="ngForm">
            <div class="form-group">
                <label for="login">Username</label>
                <input type="text" [(ngModel)]="user.login"
                       class="form-control"
                       id="login"
                       name="login"
                       placeholder="Enter your Username"
                       required #login="ngModel" >
                <div *ngIf="login.invalid && (login.dirty || login.touched)" class="alert alert-danger">
                    <p *ngIf="login.errors?.required">Username is required.</p>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="text" [(ngModel)]="user.password"
                       class="form-control"
                       id="password"
                       name="password"
                       placeholder="Create your password"
                       required #password="ngModel">
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                    <div *ngIf="password.errors?.required">Password is required.</div>
                </div>
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" [(ngModel)]="user.firstname"
                       class="form-control"
                       id="name"
                       name="name"
                       placeholder="Enter your name"
                       required #name="ngModel">
                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                    <div *ngIf="name.errors?.required">Name is required.</div>
                </div>
            </div>
            <div class="form-group">
                <label for="lastName">LastName</label>
                <input type="text" [(ngModel)]="user.lastname"
                       class="form-control"
                       id="lastName"
                       name="lastName"
                       placeholder="Enter your lastName"
                       required #lastName="ngModel">
                <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
                    <div *ngIf="lastName.errors?.required">LastName is required.</div>
                </div>
            </div>
            <div class="form-group">
                <label for="country">Country</label>
                <input type="text" [(ngModel)]="user.country"
                       class="form-control"
                       id="country"
                       name="country"
                       placeholder="Enter your country">
            </div>
            <div class="form-group">
                <label for="city">City</label>
                <input type="text" [(ngModel)]="user.city"
                       class="form-control"
                       id="city"
                       name="city"
                       placeholder="Enter your city">
            </div>
            <div class="form-group">
                <label for="street">Street</label>
                <input type="text" [(ngModel)]="user.street"
                       class="form-control"
                       id="street"
                       name="street"
                       placeholder="Enter your street">
            </div>
            <div class="form-group">
                <label for="zipCode">ZipCode</label>
                <input type="text" [(ngModel)]="user.zipCode"
                       class="form-control"
                       id="zipCode"
                       name="zipCode"
                       placeholder="Enter your zipCode">
            </div>
            <button type="submit" [disabled]="!userForm.form.valid"
                    class="btn btn-info">Submit
            </button>
        </form>
    </div>
</div>
